<%- include('inc/header.ejs'); %>

    <body>
        <div class="container">

            <!--   <%- include('inc/menu.ejs'); %> -->

            <article>
                <h1 id="title">hello from morocco</h1>
                <!-- <p>
                        <%= en_world %>
                    </p>
                    <hr>
                    <p>
                        <%= es_result %>
                    </p>
                    <hr>
                    <p>
                        <%= ar_result %>
                    </p> -->
            </article>
        </div>
        <%- include('inc/footer.ejs'); %>